@import url("https://fonts.googleapis.com/css?family=Barlow:400,500,600,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

:root {
  --primary-color: #03A9F4;
  --text: 17, 17, 17;
  --text-light: 85, 85, 85;
  --foreground: 255, 255, 255;
  --background: #eaeaea;
}

body {
  background: var(--background);
  color: rgba(var(--text), 1);
  font-size: 16px;
  margin: 1rem;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: var(--primary-color);
}

.dark-text {
  color: #111;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

button {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.4em 0.6em;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.2em;
  color: rgba(var(--text), 1);
  -webkit-transition: -webkit-transform 0.3s, -webkit-clip-path 0.3s;
  transition: -webkit-transform 0.3s, -webkit-clip-path 0.3s;
  transition: transform 0.3s, clip-path 0.3s;
  transition: transform 0.3s, clip-path 0.3s, -webkit-transform 0.3s, -webkit-clip-path 0.3s;
  border: none;
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
  background: rgba(var(--text-light), 0.1);
  -webkit-tap-highlight-color: transparent;
}

button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(var(--text-light), 0.16);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button:hover::after {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

button:focus {
  outline: thin solid rgba(var(--text-light), 0.4);
}

button:disabled {
  cursor: default;
  background: rgba(var(--text-light), 0.4);
}

button:disabled ~ .loader {
  opacity: 0;
}

button:disabled::after {
  -webkit-clip-path: none;
          clip-path: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:invalid {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

::-moz-focus-inner {
  border: none;
}

.bottom-padding {
  padding-bottom: 1em;
}

.top-padding {
  padding-top: 1em;
}

.bottom-margin {
  margin-bottom: 1em;
}

.top-margin {
  margin-top: 1em;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid-2 {
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 1em;
}

.light-text {
  color: rgba(var(--text), 0.7);
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.hide-completely {
  display: none;
}

.breakable {
  word-break: break-all;
}

.separator {
  padding: .1em;
}

.no-transformations {
  -webkit-transform: none !important;
          transform: none !important;
}

.hoverable {
  position: relative;
}

.hoverable::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(var(--text-light), 0.1);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hoverable:hover::after {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.loader {
  fill: none;
  stroke-width: 6;
  stroke: var(--primary-color);
  height: 2rem;
  width: 2rem;
  overflow: visible;
  stroke-dashoffset: 210;
  stroke-dasharray: 210;
  padding: 2px;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes load {
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -210;
  }
}

@keyframes load {
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -210;
  }
}

.action {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.action .btn {
  z-index: 2;
}

.action .loader {
  position: absolute;
  z-index: 1;
  padding: 0.4em;
}

.clip {
  -webkit-clip-path: circle(0) !important;
          clip-path: circle(0) !important;
}

.animate-loader {
  -webkit-animation: load 2.6s infinite, rotate 1s infinite linear;
          animation: load 2.6s infinite, rotate 1s infinite linear;
}

.expand {
  width: 100%;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0.8em;
  margin-bottom: 1.5em;
  border-radius: 0.2em;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background: rgba(var(--text-light), 0.1);
}

.input:last-of-type {
  margin-bottom: 0;
}

.input input:focus {
  caret-color: var(--primary-color);
}

.input .label {
  opacity: .7;
  font-weight: 500;
  font-size: 1em;
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform-origin: left;
          transform-origin: left;
  pointer-events: none;
  will-change: contents;
}

.input input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1rem;
  border: none;
  background: transparent;
  outline: none;
  color: rgba(var(--text), 1);
}

.animate-label input {
  -webkit-transform: translateY(0.5em);
          transform: translateY(0.5em);
}

.animate-label .label {
  -webkit-transform: translateY(-60%) scale(0.7);
          transform: translateY(-60%) scale(0.7);
  opacity: 1;
  color: var(--primary-color);
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 0 1rem;
}

.container-header h3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 500;
}

.container-header span {
  color: var(--accent-color);
  border-radius: 0.2rem;
  margin-right: 0.2rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
}

.btn {
  background: var(--primary-color);
  color: rgba(var(--foreground), 1);
  padding: 0.4em 1em;
}

.back-arrow {
  stroke: rgba(var(--text), 1);
  stroke-width: 6;
  fill: none;
  height: 2rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
  cursor: pointer;
}

.card {
  border-radius: 0.6rem;
  padding: 1.5em;
  background: rgba(var(--foreground), 1);
}

.solid-background {
  background: var(--background) !important;
}

.popup-container {
  display: -ms-grid;
  display: grid;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  place-items: center;
  background: rgba(0, 0, 0, 0.24);
  z-index: 10;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.popup-container .popup {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 1.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(var(--foreground), 1);
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.24);
          box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.24);
  overflow-y: auto;
}

.popup-container .popup h5 {
  margin: 0.5rem 0;
}

.popup-container .popup button:first-of-type {
  margin-left: auto;
}

.popup-container .popup .container-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-bottom: 1.5em;
}

.popup-container .popup .container-header .btn {
  padding: 0.6em 1.2em;
}

.crypto-selector {
  margin: 0.4em 0 1.5em 0;
}

.select-crypto {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.select-crypto input {
  display: none;
}

.select-crypto input:checked ~ .icon {
  -webkit-box-shadow: 0 0 0 2px #00C853 inset;
          box-shadow: 0 0 0 2px #00C853 inset;
}

.select-crypto input:checked ~ .selected {
  -webkit-transform: none;
          transform: none;
}

.select-crypto .icon {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 4em;
  padding: 0.4em;
  height: 2.4em;
  width: 2.4em;
  overflow: visible;
  fill: rgba(var(--text), 1);
}

.select-crypto .btc {
  fill: #FF9900;
}

.select-crypto .flo {
  fill: rgba(var(--text), 1);
}

.select-crypto .inr {
  padding: 0.45em;
}

.select-crypto .selected {
  position: absolute;
  right: 0;
  height: 1em;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.select-crypto .selected circle {
  fill: #00C853;
  stroke: none;
}

.select-crypto .selected polyline {
  fill: none;
  stroke: rgba(var(--foreground), 1);
  stroke-width: 6;
}

#show_message {
  -webkit-transform: translate(0, -0.4rem);
          transform: translate(0, -0.4rem);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-box-shadow: 0.2rem 0.4rem 0.8rem rgba(0, 0, 0, 0.16);
          box-shadow: 0.2rem 0.4rem 0.8rem rgba(0, 0, 0, 0.16);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(var(--text), 1);
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  z-index: 11;
  background: rgba(var(--foreground), 1);
}

#show_message #error_icon {
  fill: #E53935;
}

#show_message #done_icon {
  fill: #00C853;
}

#show_message .notification-icon {
  height: 2em;
  width: 2em;
  margin: 1em 0 1em 1em;
  fill: rgba(var(--text), 1);
  opacity: 0.8;
}

#show_message div {
  padding: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#show_message div h5 {
  opacity: 0.8;
}

#show_message span {
  font-weight: 500;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#show_message button {
  padding: 1rem;
  margin: 0 1em 0 0;
  border: none;
  background: none;
}

#show_message button svg {
  height: 1em;
  width: 1em;
  stroke: rgba(var(--text), 1);
  stroke-width: 6;
}

#confirmation {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

#confirmation p {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(var(--rgb-bw), 1) !important;
}

#confirmation div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 100%;
}

#confirmation div button {
  background: none;
}

#confirmation div button:first-of-type {
  margin-right: 0.6em;
}

#background {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#main_header {
  padding: 1em 0;
  text-align: center;
}

#main_header h1 {
  font-size: 2em;
}

#user {
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
}

#profile_pic {
  padding: 1em;
  overflow: visible;
  fill: none;
  stroke: rgba(var(--text-light), 1);
  stroke-width: 4;
  background: var(--background);
  border-radius: 4em;
  width: 4em;
  height: 4em;
  stroke-linecap: round;
}

#switcher_header {
  list-style: none;
  padding: 0;
  margin-bottom: 2em;
  -ms-grid-columns: (max-content)[3];
      grid-template-columns: repeat(3, -webkit-max-content);
      grid-template-columns: repeat(3, max-content);
  gap: 2em;
  border-bottom: 1px solid rgba(var(--text), 0.2);
}

#switcher_header li {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.2em;
  font-weight: 600;
  opacity: 0.6;
  padding: 0.4em 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#switcher_header li:hover {
  opacity: 1;
  cursor: pointer;
}

#switcher_header li:focus {
  outline: none;
}

#switcher_header .active {
  opacity: 1;
  border-bottom: 0.1em solid var(--primary-color);
}

.exchange-section {
  gap: 2em;
  -ms-grid-columns: (max-content)[3];
      grid-template-columns: repeat(3, -webkit-max-content);
      grid-template-columns: repeat(3, max-content);
}

.exchange-option {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-tap-highlight-color: transparent;
}

.exchange-option:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.exchange-option svg {
  padding: 0.8em;
  height: 4em;
  width: 4em;
  fill: none;
  border-radius: 0.5em;
  margin-bottom: 0.4em;
  background: var(--background);
  stroke: rgba(var(--text), 1);
  stroke-width: 3;
}

.exchange-option svg rect {
  visibility: hidden;
}

.order {
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  margin-bottom: 2em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.order:last-of-type {
  margin-bottom: 0;
}

.order .details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.order .details h3 {
  margin-bottom: 0.2em;
}

.order .details h5 {
  margin-top: 0.6em;
  color: rgba(var(--text-light), 1);
}

.refresh {
  margin-top: 0.6em;
  margin-bottom: 1em;
}

#sign_in_popup {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 0.5em;
  width: calc(100vw - 2em);
}

#sign_in_popup h1 {
  margin-top: 3em;
}

#sign_in_popup p:first-of-type {
  margin-bottom: 4em;
}

#sign_in_popup .action {
  margin-top: 1em;
}

#sign_in_popup p:nth-of-type(2) {
  margin-top: 2em;
  margin-bottom: 1em;
}

#sign_in_popup #sign_in_illustration {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.primary-btn {
  background: var(--primary-color);
  padding: 1em 1.2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
}

.primary-btn::after {
  background: rgba(var(--foreground), 0.1);
}

@media only screen and (min-width: 640px) {
  body {
    margin: 1rem 6vw;
  }
  .popup-container .popup {
    width: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 0.2rem;
    height: auto;
  }
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1fr;
        grid-template-columns: 1.5fr 1fr;
    gap: 2em;
    padding: 2em 0 0 0;
  }
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 2em;
  }
  #main_header {
    text-align: left;
  }
  #show_message {
    -webkit-transform: translate(0.4rem, 0);
            transform: translate(0.4rem, 0);
    margin: 1rem;
    max-width: 60vw;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-radius: 0.2rem;
  }
  #confirmation {
    padding: 1rem;
    width: 24rem;
  }
  #confirmation button {
    margin-left: 0.5rem;
  }
  #confirmation button:first-of-type {
    margin-left: auto;
  }
  #confirmation p {
    margin: 1rem;
    margin-bottom: 2rem;
  }
  #sign_in_popup,
  #buy_crypto_popup, #sell_crypto_popup,
  #send_crypto_popup, #deposit_crypto_popup, #withdraw_crypto_popup,
  #deposit_cash_popup, #withdraw_cash_popup {
    width: 24rem;
  }
}

@media only screen and (min-width: 1280px) {
  body {
    margin: 1rem 16vw;
  }
  main {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
}

@media only screen and (min-width: 1920px) {
  body {
    font-size: 24px;
    margin: 2rem 24vw;
  }
}

@media only screen and (min-width: 2048px) {
  body {
    font-size: 24px;
    margin: 2rem 32vw;
  }
}

@media only screen and (max-width: 320px) {
  body {
    font-size: 14px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: 238, 238, 238;
    --text-light: 170, 170, 170;
    --foreground: 26, 26, 26;
    --background: #111;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: 17, 17, 17;
    --text-light: 85, 85, 85;
    --foreground: 255, 255, 255;
    --background: #eaeaea;
  }
}

@media (prefers-color-scheme: no-preference) {
  :root {
    --text: 17, 17, 17;
    --text-light: 85, 85, 85;
    --foreground: 255, 255, 255;
    --background: #eaeaea;
  }
}

@media (any-hover: hover) {
  .cancel-order {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .order:hover .cancel-order {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */